html,
body {
  overflow-x: hidden;
  padding-top: 0px;
  background:rgba(113, 113, 113, 0.14)
}
footer {
  padding: 30px 0;
}

.massage{
  margin: 0 15% 0 15%;
  padding: 0 0 0 0;
}

.mynavbar{
  margin-bottom: 0px;
}

.godown{
  margin-top: 1rem;
}
