{% extends "base.html" %}

{% block css_input %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div class = "massage">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {{ message }}
      </div>
    {% endfor %}
    {% endwith %}
  </div>

  <div class="text-center">
    <form class="form-signin", method = "POST" action = "{{ url_for('user_login') }}">
      <h1 class="h3 mb-3 font-weight-normal">请　登　录</h1>
      <input type="text" name="userid" id="userid" class="form-control" placeholder="用户ID" required autofocus>
      <input type="password" name="password" id="password" class="form-control" placeholder="密码" required>
      <div class="checkbox mb-5">
        <input type="checkbox" name = "remember" /> 记住我
        <input type="hidden" name = "remember" />
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit"　onclick="return check()">登　录</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
{% endblock %}


{% block js_input %}
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
