{% extends "base.html" %}

{% block content %}
<div class = "massage">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
  {% endwith %}
</div>

<div class="container">
  <div class="page-header"><h1>个人信息</h1></div>
  {% if current_user.is_admin() %}
    <form action = "{{ url_for('manage_users') }}" method = "POST" class = "form-inline">
      <div style="padding: 20px 8% 15px;">
        <div class="input-group input-group-lg col-sm-5">
          <input type = "text" class = "form-control" name = "id" placeholder="User ID" required/>
        </div>
          <button type="submit" class="btn btn-success btn-lg"> 查找 </button>
      </div>
    </form>
  {% endif %}
  <div class = "col-sm-offset-１ col-sm-8">
    <form  id='form' name = 'form' action="{{ url_for('user_info') }}"  method = "POST" class="form-horizontal">
      <div style="padding: 30px 10% 15px;">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">用户名</span>
          <input type="text" class="form-control" id = "name" name = "name" placeholder="Username" value = {{ user.name }} required>
        </div><br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">&nbsp&nbsp ID &nbsp&nbsp&nbsp</span>
          <span class="form-control"> {{ user.id }} </span>
          <input type = "hidden" id="id" name = "id" value = {{ user.id }} readonly/>
        </div><br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">&nbsp 密码 &nbsp</span>
          <input type="password" class="form-control" id="password" name = "password" placeholder="原密码" >
        </div><br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">新密码</span>
          <input type="password" class="form-control" id="password1" name = "password1" placeholder="可不填写">
        </div><br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">&nbsp 邮箱 &nbsp</span>
          <input type="text" class="form-control" id="email" name = "email" placeholder="邮箱" value = {{ user.email }} required>
        </div><br>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">手机号</span>
          <input type="text" class="form-control" id="phone" name = "phone" placeholder="Phone" value = {{ user.phone }} required>
        </div><br>
        <div class="form-actions">
          <div class = "text-center">
            <div class = "row">
              <button type="submit" class="btn btn-success btn-lg" onclick = "return check()">修改个人信息</button>
              <button type="reset" class="btn btn-danger btn-lg"　>取消修改</button>
            </div>
            <br />
            <div class = "row">
              {% if current_user.is_admin() %}
                <button type="submit" class="btn btn-primary btn-md" onclick="$('#form').attr('action','{{ url_for('to_manager') }}')" >升为管理猿</button>
              {% endif %}
              {% if current_user.is_root() %}
                <button type="submit" class="btn btn-primary btn-md" onclick="$('#form').attr('action','{{ url_for('to_root') }}')">升为管理猿王</button>
                <button type="submit" class="btn btn-primary btn-md" onclick="$('#form').attr('action','{{ url_for('to_user') }}')">降为普通用户</button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> <!-- /container -->

{% endblock %}

{% block js_input %}
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
