{% extends "base.html" %}

{% block css_input %}
		<link href="{{ url_for('static', filename='css/register.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class = "massage">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% for category, message in messages %}
		<div class="alert alert-{{ category }}">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
			{{ message }}
		</div>
	{% endfor %}
	{% endwith %}
</div>
	<div class="text-center">
		<form class="form-signin" method="POST" action="/register">
			<h1 class="h3 mb-3 font-weight-normal">请　注　册</h1>
			<br />
			<p class = "text-warning"> {{ note }} </p>
			<input type="text" id = 'name' name="name" class="form-control" placeholder="用户名，5~18位英文字符或数字" minlength = "5" maxlength = "18" required autofocus value = {{ form['name'] }}>
			<input type="password" id = 'password' name="password" class="form-control" placeholder="密码，5~18位英文字符或数字" minlength = "3" maxlength = "18" required>
			<input type="password" id = 'password１'class="form-control" placeholder="请重复输入密码" minlength = "3" maxlength = "18" required>
			<input type="email" id = 'email' name="email" class="form-control" placeholder="邮箱" required  value = {{ form['email'] }}>
			<input type="tel" id = 'phone' name="phone" class="form-control" placeholder="手机号" required  value = {{ form['phone'] }}>
			<br />
			<button class="btn btn-lg btn-primary btn-block" type="submit" onclick = "return check()">注册</button>
			<p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
		</form>
	</div>
</html>
{% endblock %}


{% block js_input %}
  <script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}
