{% extends "base.html" %}

{% block css_input %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
  <link href="{{ url_for('static', filename='css/manage_trains.css') }}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class = "massage">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      <a href="#" class="close" data-dismiss="alert">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
  {% endwith %}
</div>
    <div class="container">
      <div class="page-header">
        <h1>列车管理</h1>
      </div>
      <div class="mycontainer">
        <div class="row">
          <div class="col-sm-9">
            <form action="" method="POST" class="form-inline">
              <div class="col-sm-10">
                <div class="input-group input-group-lg myinput">
                  <input type="text" id="trainID" class="form-control"  placeholder="Train ID"/>
                </div>
              </div>
                <button type="button" class="btn btn-success btn-lg" onclick="searchTrain()"> 查询 </button>
            </form>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-success btn-lg" onclick="$('#addTrain').show();"> 添加车次 </button>
          </div>
        </div>
      </div>

          <div class="modal-content" id="addTrain"  hidden>
            <div class="modal-header">
              <h2 class="modal-title">添加车次</h2>
            </div>

              <form id = "addTrainForm" action = "{{ url_for('try_add_train') }}" method = "POST">
                <div class="modal-body">
                  <br />
                  <div class = "row">
                    <div class = "mytext">
                      <div class = "col-sm-2">&nbsp列车座席：&nbsp</div>
                      <div class = "col-sm-9">
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "商务座" />商务座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "特等座" />特等座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "一等座" />一等座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "二等座" />二等座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "高级软卧" />高级软卧&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "软卧" />软卧&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "硬卧"/>硬卧&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "动卧" />动卧&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "软座" />软座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "硬座" />硬座&nbsp
                        </div>
                        <div class="checkbox-inline">
                          <input type="checkbox" name = "无座" />无座&nbsp
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class = "row">
                    <div class = "mytext">
                      <div class="col-sm-3">
                        <h2><div class = "label label-primary">编号</div></h2>
                        <div class="input-group input-group-lg myinput">
                          <input type = "text" id = "train_id" name = "train_id" class = "form-control" required/>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <h2><div class = "label label-primary">车次名</div></h2>
                        <div class="input-group input-group-lg myinput">
                          <input type = "text" id = "name" name = "name" class = "form-control" required/>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <h2><div class = "label label-primary">车站数目</div></h2>
                        <div class="input-group input-group-lg myinput">
                          <input type = "text" id = "stationNum"  name = "stationNum" onkeyup="value=value.replace(/[^\d]/g,'')" class = "form-control" required/>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <h2><div class = "label label-primary">类型</div></h2>
                        <div class="input-group input-group-lg myinput">
                          <input type = "text" name = "catelog" class = "form-control" required/>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <h2><div class = "label"><br /></div></h2>
                        <button type = "button" class = "btn btn-success btn-lg" onclick = "showList()"> 添加车站 </button>
                      </div>
                    </div>
                  </div>
                  <div class = "row"　id="note" hidden>
                    <div class = "text-center">
                      <h2>注意：价格为上一站到本站的车票价格</h2>
                    </div>
                  </div>

                  <input type = "text" name = "seatNumber"  id = "seatNumber" hidden/>
                  <input type = "text" name = "stationnumber" id = "stationnumber" hidden/>

                  <div id = "stationType">
                  </div>

                  <div class = "pull-down">
                    <table id="addstaion"  class="table-responsive table table-hover table-striped">
                      <thead>
                        <tr id="seatsHead">
                        </tr>
                        <tbody id = "inputStations">
                        </tbody>
                      </thead>
                    </table>
                  </div>

                  <div class="modal-footer">
                    <button id = "submitadd" type="submit" class="btn btn-primary btn-lg" disabled>添加</button>
                  </div>
                </form>
              </div>
          </div>


      <br /><br /><br />
      <table id="train"  class="table-responsive table table-hover table-striped" hidden>
        <thead>
          <tr>
            <th>
              <div class="th-inner">车次编号</div>
              <div class="fht-cell"></div>
            </th>
            <th>
              <div class="th-inner ">车次名</div>
              <div class="fht-cell"></div>
            </th>
            <th>
              <div class="th-inner ">是否已发售</div>
              <div class="fht-cell"></div>
            </th>
          </tr>
          <tbody>
            <tr id = "train_row"></tr>
         </tbody>
          </thead>
      </table>
      <table id = "station"></table>
      <div class = "row">
          <form id = "buttons" class = "text-center"　action = "/manage/train/sale" method = "POST" hidden>
            <input id = "search_id" type = "hidden" />
            <div class = "col-sm-2"></div>
            <div class = "col-sm-3">
              <button type = "submit" class = "btn btn-success btn-lg" onclick = "sale()">
                <div class = "mybtn">发售</div>
              </button>
            </div>
            <div class = "col-sm-2">
              <button type = "button" class = "btn btn-success btn-lg" onclick = "modify()" hidden>
                <div class = "mybtn">修改</div>
              </button>
            </div>
            <div class = "col-sm-3">
              <button type = "submit" class = "btn btn-success btn-lg" onclick = "delete_train()">
                <div class = "mybtn">删除</div>
              </button>
            </div>
          </form>
      </div>

    </div>


{% endblock %}

{% block js_input %}
  <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
  <script src="{{ url_for('static', filename='js/manage_trains.js') }}"></script>
{% endblock %}
